@{
    ViewBag.Title = "Instrukcja";
}
<h2>@ViewBag.Title</h2>
<div style="background-color: #E6DAA5; margin: 15px; padding: 15px">
    <p>
        <h3>Strona główna</h3>
        <img src="../Content/img/glowna.png" alt="strona glowna" width="900px" />
        <br />
        Strona główna zawiera krótki opis zastosowania aplikacji. W menu górnym znajdują się odnośniki do:
        <ul>
            <li>Strony głównej</li>
            <li>Instrukcji dla użytkownika</li>
            <li>Dokumentacji projektu</li>
        </ul>
        <img src="../Content/img/bazy.png" alt="strona glowna 2" width="900px" />
        <br />
        Po przejściu w dół strony znajdują się odnośniki do odpowiednich baz danych:
        <ul>
            <li>klientów</li>
            <li>spektakli</li>
            <li>aktorów</li>
            <li>sprzedaży</li>
        </ul>
        <h3>Baza danych</h3>
        <img src="../Content/img/lista.png" alt="aktorzy" width="900px" />
        <br />
        Obsługa wymienionych baz danych jest analogiczna, dlatego w tej instrukcji opisana zostanie baza aktorów.
        <br />
        Po kliknięciu w przycisk "Aktorzy", pojawia nam się lista aktorów dodanych do bazy.
        <br />
        Nad tabelą znajdują się możliwość dodania nowego rekordu do tabeli.
        <br />
        Po lewej stronie każdego aktora znajdują się odnośniki umożliwiające edycję, wyświetlenie szczegółów lub usunięcie danego rekordu.
        <h3>Dodaj</h3>
        <img src="../Content/img/dodaj.png" alt="aktorzy" width="900px" />
        <br />
        Wpisz w wyznaczone pola dane, a następnie kliknij przycisk "Dodaj".
        <br />
        Jeżeli chcesz powrócić do poprzedniej strony możesz nacisnąć odnośnik "Powrót do listy" znajdujący się pod formularzem.
        <br />
        <h3>Edytuj</h3>
        <img src="../Content/img/edytuj.png" alt="aktorzy" width="900px" />
        <br />
        Jeżeli chcesz zmienić dane jakiegoś rekordu, możesz to zrobić poprzez wybranie opcji "Edytuj informacje".
        <br />
        Po przekierowaniu masz możliwość zmienienia danych poprzez edycję odpowiednich pól, a także zapisania ich do bazy poprzez naciśniecie przycisku "Zapisz zmiany".
        <br />
        Możliwy jest także powrót do listy poprzez opcję "Powrót do listy" znajdującą się pod formularzem.
        <h3>Rozwiń</h3>
        <img src="../Content/img/szczegoly.png" alt="aktorzy" width="900px" />
        <br />
        Jest także możliwość dokładniejszego przeanalizowania któregoś rekordu- poprzez wybranie opcji "Rozwiń" znajdującej się po jego prawej stronie.
        <br />
        W tym widoku pojawia się możliwość edycji rekordu oraz powrotu do listy.
        <h3>Usuń</h3>
        <img src="../Content/img/usun.png" alt="aktorzy" width="900px" />
        <br />
        Po wybraniu tej opcji ponownie zostaną wyświetlone dane z pytaniem o potwierdzenie usunięcia rekordu. 
        <br />
        Przycisk "Usuń" usuwa rekord, jest także możliwość powrotu do listy.
        <h3>Baza sprzedaży</h3>
        <img src="../Content/img/sprzedaz.png" alt="aktorzy" width="900px" />
        <br />
        W bazie danych zawierającej informacje o sprzedaży biletów pojawiła się także opcja "Podsumowanie sprzedaży", która przenosi nas do podsumowania dotychczasowych tranzakcji.
        <h3>Podsumowanie wszystkich tranzakcji</h3>
        <img src="../Content/img/podsumowanie.png" alt="aktorzy" width="900px" />
        <br />
        Wyświetlana jest liczba klientów w bazie oraz zakupionych przez nich biletów.
    </p>
</div>