@{
    ViewBag.Title = "Teatromania";
}

<div class="jumbotron" style="text-align: center; align-items: center; justify-content: center; background-color: #E6DAA5 ">
    <h1 style="align-items: center; justify-content: center; color: #260887">Teatromania</h1>
    <p class="lead" style="color: #260887">W tej aplikacji znajdują się informajce o klientach, podobnie jak spektaklach i aktorach. Można także gromadzić dane o sprzedażach biletów klientom.</p>
</div>

<div class="row">
    <img src="https://th.bing.com/th/id/R.6dc9c2c244395111adeb69a3f56660d4?rik=wYtgvaG1kd%2bNZQ&riu=http%3a%2f%2fstary.pl%2fwp-content%2fuploads%2f2016%2f12%2fDuza-Scena.jpg&ehk=4gnnA0erfRXephNrMuw%2bfnbNx5qPqCQyiMjdcIe90N8%3d&risl=&pid=ImgRaw&r=0"
         width="900px" />
    <div class="col-md-4" style="background-color: #E6DAA5; margin-bottom: 15px; margin-top: 15px">
        <h2>Baza Klientów</h2>
        <p>
            Baza Klientów gromadzi informacje ogólne o klientach teatru - imię, nazwisko, numer telefonu. Umożliwia to
            późniejsze wykorzystanie ich przy dokonywaniu zakupu.
        </p>
        <p><a class="btn btn-default" href="/Clients">Klienci &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #E6DAA5; margin-bottom: 15px; margin-top: 15px">
        <h2>Baza Spektakli</h2>
        <p>
            W bazie spektakli umieszcza się informacje o godzinie i koszcie biletu na dany spektakl. Można je dodawać,
            usuwać i edytować.
        </p>
        <p><a class="btn btn-default" href="/Plays">Spektakle &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #E6DAA5; margin-bottom: 15px; margin-top: 15px">
        <h2>Baza Aktorów</h2>
        <p>
            W tej bazie możesz dodawać kolejnych aktorów, ale także ich usuwać i modyfikować informacje na ich temat. Gromadzone informacje dotyczą
            imienia, nazwiska i krotkiej notki biograficznej.
        </p>
        <p><a class="btn btn-default" href="/Actors">Aktorzy &raquo;</a></p>
    </div>
    <div class="col-md-4" style="background-color: #E6DAA5; margin-bottom: 15px; margin-top: 15px">
        <h2>Baza Sprzedaży</h2>
        <p>
            W tej bazie pojawiają się informacji o sprzedażach biletów - kto dokonał sprzedaży,
            na jaki spektakl oraz jaką liczbę biletów zakupił. Można sprzedaże dodawać, modyfikować i usuwać.
        </p>
        <p><a class="btn btn-default" href="/Sales">Sprzedaże &raquo;</a></p>
    </div>


</div>